<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.projectRentCar30681"
        android:icon="@mipmap/ic_launcher_foreground"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.projectRentCar30681.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BazaDanychAktualizacja"
            android:label="Aktualizacja Danych"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.projectRentCar30681"/>
        <activity android:name=".BazaDanychDopisz"
            android:label="Dopisanie auta"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.projectRentCar30681" />
    </application>

</manifest>